@model List<Testing_general.Models.Item>
@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>

<a class="form-control bg-primary text-white" href="/items/create" style="max-width:200px">Create</a>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Serial Number</th>
            <th>Description</th>
            <th>Slug</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>Rp. @item.Price 00</td>
                <td>@item.SerialNumber?.Name</td>
                <td>@item.Description</td>
                <td>@item.Slug</td>
              
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Items" asp-route-id="@item.Id">delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>